*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
<<<<<<< Updated upstream
    color: #ffffff;
    text-shadow: 3px 3px 4px #001aff, 1px 1px 2px rgb(255, 255, 255), -1px 1px 1px rgb(0, 0, 255), -1px -1px 1px rgb(0, 0, 255); 
    margin-left: 9%;
=======
    color: rgb(0, 247, 255);
    margin-left: 15%;
>>>>>>> Stashed changes
}

#subtitulo{
    font-family: sans-serif;
<<<<<<< Updated upstream
    color: #ffffff;
    text-shadow: 2px 2px 4px #001aff, 1px 1px 2px rgb(255, 255, 255), -1px 1px 1px blue, -1px -1px 1px blue;
    margin-left: 13%;
=======
    color:rgb(0, 247, 255);
    margin-left: 23%;
>>>>>>> Stashed changes
}
fieldset{
    border: 0;
}

<<<<<<< Updated upstream
body{
    background-image: url("204349.jpg");
=======
form{
    margin-top: 35px;
}

main{
    background-color: rgb(17, 17, 17);
    box-shadow: 4px 4px 2px rgba(0, 247, 255, 0.8), 1px 1px 1px rgba(0, 247, 255, 0.8), -1px 1px 1px rgba(0, 247, 255, 0.8), -1px -1px 1px rgba(0, 247, 255, 0.8);
    padding-bottom: 8em;
    padding-right: -2em;
    padding-left: 5.2em;
    padding-top: 2em;
    margin-left: 27em;
    margin-top: 1em;
    width: 32em;
}

body{
    background-image: url("317353.jpg");
>>>>>>> Stashed changes
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #cfccdb;
    font-family: sans-serif;
    font-size: 1.3em;
<<<<<<< Updated upstream
    color: #ffffff;
    text-shadow:2px 2px 4px #001aff, 1px 1px 2px rgb(255, 255, 255), -1px 1px 1px blue, -1px -1px 1px blue;
    margin-left: 36%;
    margin-top: 2%;
=======
    color:rgb(0, 247, 255);
>>>>>>> Stashed changes
    justify-content: center;
}
input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
<<<<<<< Updated upstream
    color: #ffffff;
=======
    color: rgb(0, 247, 255);
>>>>>>> Stashed changes
    
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
<<<<<<< Updated upstream
    border: 1px solid #0a0f3f;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
=======
    border: 1px solid rgba(0, 247, 255, 0.8);
    box-shadow: 2px 2px 2px rgba(0, 247, 255, 0.8);
>>>>>>> Stashed changes
    display: block;
    background-color: rgb(255, 255, 255);
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
<<<<<<< Updated upstream
    background: rgb(207, 213, 238);
=======
    background: rgb(185, 253, 255);
>>>>>>> Stashed changes
}

.botao{
    font-size: 1.2em;
<<<<<<< Updated upstream
    background: #001aff;
=======
    background: rgb(0, 247, 255);
>>>>>>> Stashed changes
    border: 0;
    margin-bottom: 1em;
    color: #000000;
    padding: 0.2em 0.6em;
<<<<<<< Updated upstream
    box-shadow: 2px 2px 1px rgba(0,0,0,0.8);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
=======
    box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.8);
>>>>>>> Stashed changes
    position: absolute;
    top: 78%;
    left: 47%;
    margin-right: -50%;
    transform: translate((-50%, -50%));
}

.botao:hover{
<<<<<<< Updated upstream
    background: #7476ff;
=======
    background: rgb(137, 246, 250);
>>>>>>> Stashed changes
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#check{
    display: inline-block;
}

#tecnologia{
    font-size: 3em;
}